@import url('https://fonts.googleapis.com/css?family=Righteous|Gugi');

* {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  color: rgb(68, 68, 68);
  padding-top: 20px;
}

#wrap {
  width: 60%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  #wrap {
    width: 100%;
  }
}

h1 {
  font-family: Righteous, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  font-family: Gugi, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover{
  background-color: #e68536
}

.navbar {
  background-color: rgb(55, 82, 117);
  padding: 6px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 6px;
  font-size: 16pt;
  font-family: Gugi;
}

.dropdown-content a {
  background-color: rgb(55,82,117);
  text-decoration: none;
  font-size: 12pt;
  display: block;
  margin: 0;
}

.image-link {
  position: relative;
  display: block;
  margin: auto;
  width: 400px;
}

.image-link img {
  width: 400px;
  margin: auto;
  display: block;
  border: 10px solid white;
}
.text-block {
  display: block;
  position: absolute;
  top: 0;
  background-color: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  transition: background-color 0.5s, color 0.5s;
}
.text-block:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
