@import url('https://fonts.googleapis.com/css?family=Righteous|Gugi');

body {
  background-color: skyblue;
  color: rgb(68, 68, 68);
}

#wrap {
  width: 60%;
  text-align: center;
  margin: auto;
}

h1 {
  font-family: Righteous, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: Gugi, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}